@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css");
body{
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 0;
}
.header{
    box-sizing: border-box;
    width: 100%;
    margin: 20px 10px 0 0;
    nav{
        ul{
            gap:20px;
            height: auto;
            list-style: none;
            width: 250px;
            li{
                a{
                    color:#000000;
                    cursor:pointer;
                    text-decoration: none;
                }
                &:last-child{
                    background-image: url("https://lh3.googleusercontent.com/ogw/ANLem4bjw8uZ6ULZ8W0SpfqlztLIumOrZaeN2CSVdoNj2g=s32-c-mo");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    border-radius: 30px;
                    height: 25px;
                    width: 25px;
                }
            }
        }
    }
}
.main{
    height: 62vh;
    &__search{
        border: 1px solid #dfe1e5;
        border-radius: 30px;
        height: 40px;
        margin-bottom: 15px;
        padding: 3px 7px;
        width: 27vw;
        img{
            height: 25px;
            margin:auto;
            width: 25px;
            &:nth-child(1){
                height: 15px;
                margin:0 10px;
                width: 15px;
            }
        }
        input{
            border: none;
            font-size: 18px;
            width: 80%;
            &:focus,:active, ::selection, :hover, :enabled{
                border:0;
                outline: 0;
            }
        }
    }
    &__buttons{
        input{
            background-color: #f8f9fa;
            border: 1px solid #f8f9fa;
            border-radius: 4px;
            color: #3c4043;
            cursor: pointer;
            font-family: arial,sans-serif;
            font-size: 14px;
            height: 36px;
            line-height: 27px;
            margin: 11px 4px;
            min-width: 54px;
            padding: 0 16px;
            text-align: center;
            user-select: none;
        }
    }
}
.footer{
    background: #f2f2f2;
    height: max-content;
    bottom: 0;
    box-sizing: border-box;
    padding: 5px 30px 0;
    position: absolute;
    width: 100%;
    &__contry{
        align-items: center;
        border-bottom: 1px solid #dadce0;
        display: flex;
        height: 50px;
        padding: 10px 0;
        span{
            margin: auto 0;
        }
    }
    &__bootom{
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        ul{
            display:flex;
            margin: auto 0;
            gap:25px;
            padding: 0;
            li{
                list-style: none;
                a{
                    color:black;
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}